body{
    background-image: url("websitebackground.jpg");
}
h2{
    color: rgba(245, 107, 215, 0.63);
    border: 3px dotted rgba(33, 230, 180, 0.856);
    padding: 20px 3px;
    border-radius: 10px 20px;
    text-align: center;
    width: 10%;
    margin: 10px;
    box-sizing: 10px;
    position: static;
    border: 3px dotted rgb(181, 187, 173);
    float: left;   
}
h1{
    background-color: rgba(124, 230, 230, 0.596);
    width: 10%;
    box-sizing: 10px;
    text-align: left;
    
}